# COPT and LOLP Calculator

## import and settting printer

In [ ]:
import itertools
import numpy as np
import pandas as pd

from tqdm.auto import tqdm

In [ ]:
# setting numpy print option decimal places
decimal_places = 3
np.set_printoptions(precision=decimal_places, suppress=True)
pd.set_option('display.float_format', '{:.3f}'.format)

## inputs

### choose between using csv file or manually edit the notebook

In [ ]:
# NOTE:
#   UNCOMMENT AND USE THIS CELL IF USING CSV INPUT
#   COMMENT IF USING MANUAL INPUT
# csv input path
df = pd.read_csv('../data/COPT Case.csv')

# extract csv
capacities = df['Capacity (MW)'].tolist()
outage_rates = df['FOR (Outage)'].tolist()
status = [True] * len(df.index)

In [ ]:
# # NOTE:
# #   UNCOMMENT AND USE THIS CELL IF USING MANUAL INPUT
# #   COMMENT IF USING CSV INPUT
# # max capacity
# capacities = [
#     80,
#     70,
#     40,
#     50,
#     40,
#     50
# ]

# # forced outage rate
# outage_rates = [
#     0.1, 
#     0.2,
#     0.1,
#     0.2,
#     0.1,
#     0.1
# ]


# # status of generator,
# #     True: exist
# #     False: not exist
# status = [
#     True,
#     False,
#     True,
#     True,
#     True,
#     True,
# ]

In [ ]:
pd.DataFrame(data={'capacities': capacities,
                   'outage_rates': outage_rates,
                   'status': status},
             index=pd.RangeIndex(1, len(capacities) + 1, 1)).head(10)

    capacities  outage_rates  status
1           50         0.100    True
2           50         0.100    True
3           50         0.100    True
4           30         0.100    True
5           10         0.070    True
6           20         0.070    True
7           10         0.100    True
8            5         0.100    True
9           10         0.070    True
10          10         0.070    True

In [ ]:
# peak load or load at time considering
# used to calculate LOLP
demands = [590, 470, 585, 650, 660]

## Parameters

In [19]:
# NOTE:
#   There is two batch, bathc in evaluating of permutation and batch in making COPT.

BATCH_PRODUCT = 1000  # batch size for each making table before combine duplicate
MIN_COVERAGE = 1 - 1e-12  # early stopper
BATCH_GENERATOR = 15

## COPT table

In [25]:
generator_list = [[cap, out] for cap, out, stat in sorted(zip(capacities, outage_rates, status), reverse=True) if stat]
last_generator = 0

In [31]:
ls = generator_list[last_generator:last_generator+BATCH_GENERATOR]
last_generator += BATCH_GENERATOR
capacities_fix = [[cap, 0] for cap, _ in ls]
probabilities_fix = [[1-out, out] for _, out in ls]

capacities_combination_generator = itertools.product(*capacities_fix)
probabilities_combinations_generator = itertools.product(*probabilities_fix)

table = []
with tqdm(total=MIN_COVERAGE) as pbar:
    sum_probability = 0
    while sum_probability <= MIN_COVERAGE:
        table += [[sum(i), np.prod(j)] for i, j in itertools.islice(zip(capacities_combination_generator,
                                                                        probabilities_combinations_generator),
                                                                    BATCH_PRODUCT)]

        # change table to array
        table = np.array(table)

        # sort table
        table = table[(-table[:, 0]).argsort(),:]

        # combine duplicate
        table = [[k,sum([x[1] for x in list(g)])] 
                for k,g in itertools.groupby(table, lambda x:x[0])]

        # progress bar
        sum_probability = np.sum(table, axis=0)[1]
        pbar.update(n=sum_probability - pbar.n)

# add all units off
if table[-1][0] != 0:
    table = np.vstack([table, [0, 1 - sum_probability]])
else:
    table = np.array(table)

# add cumulative probability
table = np.hstack((table, np.atleast_2d(np.cumsum(table[::-1,1])[::-1]).T))
table = np.hstack((table, np.atleast_2d(np.cumsum(table[:,1])).T))

  0%|          | 0/0.999999999999 [00:00<?, ?it/s]

In [32]:
columns_name = ['Combined Capacity',
                'Individual Probability',
                'Cumulative Probability',
                'Reversed Cumulative Probability']

pd.DataFrame(data=table, columns=columns_name, index=pd.RangeIndex(1, len(table) + 1, 1))

,Combined Capacity,Individual Probability,Cumulative Probability,Reversed Cumulative Probability
1,580.000,0.273,1.000,0.273
2,560.000,0.122,0.727,0.396
3,550.000,0.030,0.604,0.426
4,540.000,0.022,0.574,0.448
5,530.000,0.232,0.552,0.680
6,520.000,0.002,0.320,0.682
7,510.000,0.100,0.318,0.782
8,500.000,0.024,0.218,0.806
9,490.000,0.018,0.194,0.824
10,480.000,0.088,0.176,0.912
11,470.000,0.002,0.088,0.913
12,460.000,0.036,0.087,0.949
13,450.000,0.009,0.051,0.958
14,440.000,0.006,0.042,0.964
15,430.000,0.020,0.036,0.984
16,420.000,0.001,0.016,0.984
17,410.000,0.008,0.016,0.992
18,400.000,0.002,0.008,0.994
19,390.000,0.001,0.006,0.995
20,380.000,0.003,0.005,0.998
21,370.000,0.000,0.002,0.998
22,360.000,0.001,0.002,0.999
23,350.000,0.000,0.001,0.999
24,340.000,0.000,0.001,1.000
25,330.000,0.000,0.000,1.000
26,320.000,0.000,0.000,1.000
27,310.000,0.000,0.000,1.000
28,300.000,0.000,0.000,1.000
29,290.000,0.000,0.000,1.000
30,280.000,0.000,0.000,1.000
31,270.000,0.000,0.000,1.000
32,260.000,0.000,0.000,1.000
33,250.000,0.000,0.000,1.000
34,240.000,0.000,0.000,1.000
35,230.000,0.000,0.000,1.000
36,220.000,0.000,0.000,1.000
37,210.000,0.000,0.000,1.000
38,200.000,0.000,0.000,1.000
39,190.000,0.000,0.000,1.000
40,180.000,0.000,0.000,1.000
41,170.000,0.000,0.000,1.000
42,160.000,0.000,0.000,1.000
43,150.000,0.000,0.000,1.000
44,140.000,0.000,0.000,1.000
45,130.000,0.000,0.000,1.000
46,120.000,0.000,0.000,1.000
47,110.000,0.000,0.000,1.000
48,100.000,0.000,0.000,1.000
49,90.000,0.000,0.000,1.000
50,80.000,0.000,0.000,1.000
51,70.000,0.000,0.000,1.000
52,60.000,0.000,0.000,1.000
53,50.000,0.000,0.000,1.000
54,40.000,0.000,0.000,1.000
55,30.000,0.000,0.000,1.000
56,20.000,0.000,0.000,1.000
57,0.000,0.000,0.000,1.000

In [33]:
ls = generator_list[last_generator:last_generator+BATCH_GENERATOR]
last_generator += BATCH_GENERATOR
capacities_fix = [[cap, 0] for cap, _ in ls]
probabilities_fix = [[1-out, out] for _, out in ls]

capacities_combination_generator = itertools.product(*capacities_fix)
probabilities_combinations_generator = itertools.product(*probabilities_fix)

table = []
with tqdm(total=MIN_COVERAGE) as pbar:
    sum_probability = 0
    while sum_probability <= MIN_COVERAGE:
        table += [[sum(i), np.prod(j)] for i, j in itertools.islice(zip(capacities_combination_generator,
                                                                        probabilities_combinations_generator),
                                                                    BATCH_PRODUCT)]

        # change table to array
        table = np.array(table)

        # sort table
        table = table[(-table[:, 0]).argsort(),:]

        # combine duplicate
        table = [[k,sum([x[1] for x in list(g)])] 
                for k,g in itertools.groupby(table, lambda x:x[0])]

        # progress bar
        sum_probability = np.sum(table, axis=0)[1]
        pbar.update(n=sum_probability - pbar.n)

# add all units off
if table[-1][0] != 0:
    table = np.vstack([table, [0, 1 - sum_probability]])
else:
    table = np.array(table)

# add cumulative probability
table = np.hstack((table, np.atleast_2d(np.cumsum(table[::-1,1])[::-1]).T))
table = np.hstack((table, np.atleast_2d(np.cumsum(table[:,1])).T))

  0%|          | 0/0.999999999999 [00:00<?, ?it/s]

In [34]:
columns_name = ['Combined Capacity',
                'Individual Probability',
                'Cumulative Probability',
                'Reversed Cumulative Probability']

pd.DataFrame(data=table, columns=columns_name, index=pd.RangeIndex(1, len(table) + 1, 1))

,Combined Capacity,Individual Probability,Cumulative Probability,Reversed Cumulative Probability
1,190.000,0.292,1.000,0.292
2,180.000,0.294,0.708,0.586
3,170.000,0.215,0.414,0.801
4,160.000,0.118,0.199,0.920
5,150.000,0.052,0.080,0.972
6,140.000,0.020,0.028,0.992
7,130.000,0.006,0.008,0.998
8,120.000,0.002,0.002,1.000
9,110.000,0.000,0.000,1.000
10,100.000,0.000,0.000,1.000
11,90.000,0.000,0.000,1.000
12,80.000,0.000,0.000,1.000
13,70.000,0.000,0.000,1.000
14,60.000,0.000,0.000,1.000
15,50.000,0.000,0.000,1.000
16,40.000,0.000,0.000,1.000
17,30.000,0.000,0.000,1.000
18,20.000,0.000,0.000,1.000
19,10.000,0.000,0.000,1.000
20,0.000,0.000,0.000,1.000

## LOLP

In [ ]:
def get_lolp(capacity, cumulative_probability, demand):
    """
    format:
        capacity (descend)
        cumulative_probability(descend)
    """
    try:
        idx = np.where(capacity < demand)[0][0]
    except IndexError:
        idx = -1
    return cumulative_probability[idx]

In [ ]:
lolp = [get_lolp(table[:,0], table[:,2], demand) for demand in demands]
lolp

[1.0000000000000002,
 0.09932706030330078,
 1.0000000000000002,
 1.0000000000000002,
 1.0000000000000002]

In [ ]:
print(f'Total LOLP: {sum(lolp):.4f}')

Total LOLP: 4.0993